Repository AKJAW/kotlin-multiplatform-github-actions, changes with the labels that .github/labeler.yml gives for each.
All labels: KMP, Android, iOS, Desktop

feat: allow code_review runs targeting the auto label branch
  .github/workflows/code_review.yml
Labels: none

feat: update pull_request to pull_request_target
  .github/workflows/code_review.yml
Labels: none

chore: Change iOS and KMP files
  iosApp/Podfile
  shared/build.gradle.kts
Labels: KMP, iOS

feat: update pull_request to pull_request_target
  .github/workflows/code_review.yml
Labels: none

chore: Change iOS and KMP files
  iosApp/Podfile
  shared/build.gradle.kts
Labels: KMP, iOS

chore: Change Android and Desktop files
  androidApp/build.gradle.kts
  desktopApp/build.gradle.kts
Labels: Android, Desktop

chore: Change Android and Desktop files
  androidApp/build.gradle.kts
  desktopApp/build.gradle.kts
Labels: Android, Desktop

feat: update pull_request_target to pull_request
  .github/workflows/code_review.yml
Labels: none

chore: remove comment
  .github/workflows/code_review.yml
Labels: none

.github/labeler.yml:

KMP:
- changed-files:
    - any-glob-to-any-file:
      - shared/**
      - konsist/**

Android:
- changed-files:
    - any-glob-to-any-file:
      - androidApp/**

iOS:
- changed-files:
    - any-glob-to-any-file:
      - iosApp/**

Desktop:
- changed-files:
    - any-glob-to-any-file:
      - desktopApp/**
